* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
nav {
  position: absolute;
  width: 100vw;
  display: flex;
  padding: 3rem 10rem;
  justify-content: space-between;
}

.container {
  height: 100vh;
}
.container img {
  width: 100%;
  position: fixed;
  height: 110vh;
  object-fit: cover;
  z-index: -1;
}
.main-title {
  width: 100vw;
  position: absolute;
  top: 25%;
  font-size: 6vw;
  text-align: center;
}

.content {
  width: 100vw;
  background: rgb(24, 24, 24);
  min-height: 100vh;
  z-index: 2;
  position: fixed;
}
.content-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 60vh;
  text-align: center;
}
@media screen and (max-width: 50vw) {
  .content-images {
    width: 90%;
  }
}

.text {
  padding: 2rem 10rem;
  font-size: 1.1rem;
  text-align: center;
}
